body, html {
    color: #ffffff;
    background-color: #121212!important;
}

.container-fluid {
    color: #ffffff;
}

#SearchResults #Video img { 
    max-width: 150px;
}

#SearchResults #Video #VideoInfo img { 
    width: 16px;
    height: 16px;
}

/* Footer */
footer {
    color: #ffffff;
}